main {
  font-family: "Merriweather", serif;
  color: black;
}

header {
  font-family: "Merriweather", serif;
  color: #018a4d;
  font-size: 10px;
}

header hr {
  height: 0.5px;
  margin: 0;
  border: 0.5px solid gold;
  border-radius: 1px;
}

header img {
  width: 300px;
  display: block;
  margin-inline: auto;
}

footer {
  font-family: "Merriweather", serif;
  color: black;
  font-size: 10px;
  margin-top: 30px;
}

header .undertitle {
  background-color: lemonchiffon;
  margin-top: 30px;
}
header .undertitle h4 {
  text-align: center;
  margin-bottom: 0;
  margin-top: 0;
  padding: 10px;
}

header .undertitle h4 span {
  text-transform: uppercase;
}

.recipe {
  width: 50%;
  margin-inline: auto;
}
.div-for-footer {
  width: 50%;
  margin-inline: auto;
}
.recipe h1 {
  font-size: 40px;
  text-align: center;
}

.recipe .introduction {
  font-size: 15px;
  margin-top: 80px;
}

.recipe video {
  width: 100%;
  margin-top: 40px;
  border-radius: 16px;
  box-shadow: 0 8px 12px -4px #000000fa;
}

.recipe figcaption {
  color: grey;
  text-align: center;
}

.featured-in span {
  text-transform: uppercase;
  color: orange;
}

.featured-in p {
  position: relative;
  left: 20px;
}

.featured-in {
  border-left: 5px solid gold;
  height: auto;
}

.under-ingredients {
  height: 0.5px;
  margin: 0;
  border: 0.5px solid #9fecf3;
  border-radius: 1px;
}

.recipe h2 {
  font-size: 30px;
  margin-top: 50px;
}
